* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* header */
/* header */
/* header */

header {
  padding: 3rem 4rem;
  font-family: "Cairo", sans-serif;
  color: black;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.name {
  transition: display 100ms;
}

.desktop {
  display: flex;
}

nav {
  display: flex;
}

li a {
  color: black;
  text-decoration: none;
}

.name {
  flex: 1;
  padding-right: 0.5rem;
  font-weight: 650;
}

li {
  list-style: none;
  padding-right: 2.2rem;
  font-weight: 700;
}

.last {
  color: rgb(204, 139, 0);
}

@media only screen and (max-width: 768px) {
  nav {
    display: block;
  }
  .name {
    display: none;
  }
  li {
    margin: 0.3rem;
    padding: 0;
  }
  .desktop {
    justify-content: space-between;
  }
  header {
    padding: 3rem 0.5rem;
  }
}

/* Contact */

.contact {
  display: flex;
  padding: 9rem 16rem;
  font-family: "Nunito", sans-serif;
  justify-content: space-between;
  transition: all 150ms;
}

.contact-text {
  padding: 4rem;
}

.contact-text h2 {
  font-size: 2rem;
}

.contact-text p {
  padding: 3rem 0;
  font-size: 1.2rem;
}

.other {
  display: flex;
  padding: 1.5rem;
}

.other-icon img {
  height: 3rem;
}

.other h3 {
  padding: 1.2rem 1.2rem 1.2rem 0;
}

.other-img {
  display: none;
}

.other-img img {
  height: 5rem;
  padding: 0.8rem;
}

.contact-form {
  padding: 2rem;
  /* width: 100px; */
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.15);
  width: 450px;
}

.user-input {
  display: flex;
  /* justify-content: space-around; */
  padding-bottom: 1.5rem;
}

.user {
  padding: 0.5rem;
}

#first,
#last {
  padding: 1rem;
  border-radius: 0.4rem;
  transition: all 100ms;
  width: 100%;
  /* width: 180px !important; */
}

#email {
  border-radius: 0.4rem;
  width: 100%;
  padding: 1rem;
  transition: all 100ms;
}

.email {
  padding: 1rem 0.5rem 3rem 0.5rem;
}

form input {
  border: 0.5px solid rgb(179, 179, 179);
}

form input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(173, 156, 0, 0.4);
}

.txt-area {
  padding: 0.5rem;
}

.txt-area textarea {
  transition: all 100ms;
}

.submit {
  padding-top: 1.8rem;
}

.btn-submit {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0.8rem 1.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  background-color: rgb(179, 144, 71);
  color: white;
  /* font-weight: 590; */
  font-family: "Nunito" sans-serif;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1300px) {
  .contact {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .contact-form * {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .user-input {
    flex-direction: column;
  }
  .user {
    padding: 0.8rem;
  }
  .contact-form {
    width: 100%;
  }
  .other {
    flex-direction: column;
  }
  .other-icon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
